<link rel="stylesheet" href="styles/nav.css">
<nav class="navbar navbar-expand navbar-expand-lg navbar-dark bg-dark" id="bootstrap-overrides-first-nav">
    <div class="container-fluid">
        <button type="button" class="btn btn-primary" id="bootstrap-overrides-signup">Sign Up</button>
        <button type="button" class="btn btn-secondary" id="bootstrap-overrides-login">Log In</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-one">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="bootstrap-overrides-first-ul">
                <li class="nav-item nav-item-first">
                    <a href="https://facebook.com/">
                        <img class="socials" src="assets/fbicon.png">
                    </a>
                </li>
                <li class="nav-item nav-item-first">
                    <a href="https://instagram.com/">
                        <img class="socials" src="assets/igicon.png">
                    </a>
                </li>
                <li class="nav-item nav-item-first">
                    <a href="https://twitter.com/">
                        <img class="socials" src="assets/twittericon.png">
                    </a>
                </li>
                <li class="nav-item nav-item-first">
                    <a href="https://linkedin.com/">
                        <img class="socials" src="assets/linkedinicon.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="header-div">
    <img src="assets/logoEx.png">
    <h1>The Food 4 Me</h1>
</div>
<nav class="navbar navbar-expand navbar-expand-lg" id="bootstrap-overrides-second-nav">
    <div class="container-fluid" id="bootstrap-overrides-outer-div">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-two">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100" id="bootstrap-overrides-second-ul">
                <li class="nav-item nav-item-second">
                    <a class="nav-link-option nav-link" id="bootstrap-overrides-first-option" href="index.html">HOME</a>
                </li>
                <li class="nav-item nav-item-second">
                    <a class="nav-link-option nav-link" id="bootstrap-overrides-second-option" href="about.html">ABOUT</a>
                </li>
                <li class="nav-item nav-item-second">
                    <a class="nav-link-option nav-link" id="bootstrap-overrides-third-option" href="game.html">GAMES?</a>
                </li>
                <li class="nav-item nav-item-second dropdown">
                    <a class="nav-link-option nav-link dropdown-toggle" id="bootstrap-overrides-fourth-option" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        GET INVOLVED
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="...">A link to another page</a></li>
                        <li><a class="dropdown-item" href="...">Another link to a page</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-second">
                    <a class="nav-link-option nav-link" id="bootstrap-overrides-fifth-option" href="index.html">NEWS</a>
                </li>
                <li class="nav-item nav-item-second">
                    <a class="nav-link-option nav-link" id="bootstrap-overrides-sixth-option" href="talk.html">LET'S TALK</a>
                </li>
                <li class="nav-item nav-item-second">
                    <a class="nav-link-option nav-link" id="bootstrap-overrides-seventh-option" href="index.html">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
